.header {
  background-color: #131621;
  height: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  width: 30vw;
  height: 5vh;
  background-color: #44486c;
  border-radius: 2vh;
}

.header-link {
  color: #fff;
}
