.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.main-section {
  display: flex;
  width: 75%;
}

.sets {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
